html
  head
  title Registration

  body
    h1 Registration
    include ../partials/header
    br
    br
    br
    div.reg-group
      label(id ='regusernamelab' for='regusername') Username:
      input#regusername.reg-group(type="textbox" name="regusername")

      label(id = 'regpasswordlab' for='regpassword') Password:
      input#regpassword.reg-group(type="textbox" name="regpassword")

      label(id = 'fnamelab' for='fname') First Name:
      input#fname.reg-group(type="textbox" name="fname")

      label(id = 'lnamelab' for='lname') Last Name:
      input#lname.reg-group(type="textbox" name="lname")

      label(id = 'addresslab' for='address') Address:
      input#address.reg-group(type="textbox" name="address")

      label(id='payinfolab' for='payinfo') Card Number:
      input#payinfo.reg-group(type="textbox" name="payinfo")
      br

      button(type ='button' onclick="regvalidate()") Register

  br
  label(id ='regmessage')
